@using Bakery.Models
@model List<Bakery.Models.Treat>;


<h1>Welcome to Pierre's Bakery!</h1>

<p>@Html.ActionLink("Register an account", "Register", "Account")</p>
<p>@Html.ActionLink("Login to my account", "Login", "Account")</p>
<p>@Html.ActionLink("See treats", "Index", "Treats")</p>



