@using Bakery.Models


<h1>Welcome to Pierre's Bakery!</h1>

<p>@Html.ActionLink("Register an account", "Register", "Register")</p>
<p>@Html.ActionLink("Login to my account", "Login", "Login")</p>
<p>@Html.ActionLink("See treats", "Index", "Treats")</p>



