@using Bakery.Models
@model List<Bakery.Models.Treat>;

<h1>Treats! Click on the treat to see the flavors.</h1>

@if (@Model.Count == 0)
{
  <h3>No treats have been added yet!</h3>
} 

@foreach (Treat treat in Model)
{
  <li>@Html.ActionLink($"{treat.Description}", "Details", new { id = treat.TreatId })</li>
}


<button class="btn btn-default">@Html.ActionLink("Back To Home", "Index", "Home")</button>
<button class="btn btn-default">@Html.ActionLink("Back To Your Account", "Index", "Account")</button>

